.claude/
.gradle/
build/
local.properties
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
*.log
*/gen_env/.vscode/
captures/
.externalNativeBuild/
.cxx/
*.apk
output.json
*.iml
.idea/
misc.xml
*.jks
*.keystore
*.hprof
*.DS_Store
*.lock
.claude/settings.local.json
.fvm/
*.fvmrc
devtools_options.yaml
